<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Template Programming</title>
    <style>
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid black;
            margin: 10px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Django Template Programming</h1>
    </center>

    <div>
        <ul>
            <h3>Friend List - for loop</h3>
            {% for friend in friends %}
                <li>{{ friend }}</li>
            {% endfor %}
        </ul>

        <ul>
            <h3>For Loop Method</h3>
            {% for friend in friends %}
                <p>{{ forloop.counter }} - {{ forloop.counter0 }} - {{ forloop.revcounter }} - {{ forloop.revcounter0 }} - {{ forloop.first}} - {{ forloop.last }}</p>
                
            {% endfor %}
        </ul>

        <ul>
            <h3>if-else condition</h3>
            <p>Your Age: {{ age }}</p>
            {% if age < 18 %}
                <p>You are too young to drive</p>
            {% elif age > 59 %}
                <p>You are too old to drive</p>
            {% else %}
                <p>You are eligible to drive</p>
            {% endif %}
        </ul>

        
    </div>

    <div>
        <aside>
            <h3>View Dictionary</h3>
            <table border="1" cellpadding="10">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Marks</th>
                </tr>
                {% for student in student_details %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.marks }}</td>
                    </tr>
                {% endfor %}
            </table>
        </aside>
    </div>

    
</body>
</html>